<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd ">
       

	<context:component-scan base-package="com.mcnc.web"/>
	
	<!-- <mvc:annotation-driven/> -->
	<mvc:annotation-driven>
	     <mvc:message-converters>
	            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
	            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
	   </mvc:message-converters>
	</mvc:annotation-driven>
	<!-- for production: cache-period="86400" -->
	
<!-- 	<mvc:annotation-driven validator="validator">
		<mvc:argument-resolvers>
			<bean class="maru.admin.common.web.resolver.JsonFieldArgumentResolver">
				<constructor-arg name="objectMapper" ref="objectMapper" />
			</bean>
			<bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver" />
		</mvc:argument-resolvers>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven> -->
	
	<mvc:resources 
		mapping="/**" 
		location="
			/WEB-INF/resources/**/,
			/WEB-INF/resources/static/,
			/WEB-INF/resources/static/script/,
			/WEB-INF/views/,
			/WEB-INF/views/**/,
			/WEB-INF/views/layouts" />
 
	<!-- TemplateResolver -->
		<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
	        <property name="prefix" value="/WEB-INF/views/" />
	        <property name="suffix" value=".html" />
	        <property name="templateMode" value="LEGACYHTML5" />
	        <property name="characterEncoding" value="UTF-8"/>
	        <property name="cacheable" value="false" />
	    </bean>
	     <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
	    	  <property name="templateResolver" ref="templateResolver" />
			  <property name="additionalDialects">
			    <set>
			      <bean class="nz.net.ultraq.thymeleaf.LayoutDialect"/>
			    </set>
			  </property>
		</bean>
		
	    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
	        <property name="templateEngine" ref="templateEngine" />
	        <property name="characterEncoding" value="UTF-8"/>
	    </bean>
</beans>