<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<title>Hello</title>
<head th:replace="blocks/link :: link"></head>
<body class="hold-transition skin-blue sidebar-mini">
 <div class="wrapper">
	
<header th:replace="blocks/header :: header"></header>
 <aside class="main-sidebar" th:replace="blocks/main-sidebar :: main-sidebar">
  </aside>
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      
        <th:block layout:fragment="breadcrumb-header">
          Page Header
           <small>Optional description</small>
          </th:block>
       
      </h1>
      <ol class="breadcrumb">
     
         <th:block layout:fragment="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      		  <li class="active">Here</li>
          </th:block>
      </ol>
    </section>

      <div class="content">
        <div layout:fragment="page_content"></div>
      </div>
 
    <!-- /.content -->
    </div>
    <div th:replace="blocks/footer :: footer" ></div>
    <div th:replace="blocks/js :: js"></div>
  
</body>
</html>